# Visual Studio Code
.vscode/*

# PyCharm
.idea/

# virtualenv files
.venv/

# Python specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage
.env

# Mac DS_Store files
.DS_Store

# environment variables
.env

# misc
TODO.md

# data
src/data/original/*
assignments/3/data/*
assignments/4/data/*
!src/data/.gitkeep

**/.ipynb_checkpoints

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
**/__latexindent_temp.tex
*.run.xml
*.synctex.gz

# large model files
src/models/fasttext_model.bin

# assignment corrections
assignments/1/correction/*
assignments/2/correction/*
assignments/3/correction/*
