[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"

[packages]
pypdf2 = "*"
pdfminer = "*"
regex = "*"
wordcloud = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
imbalanced-learn = "*"
spacy = "*"
gensim = "*"
nltk = "*"
fasttext = "*"
pre-commit = "*"
jupyter = "*"
setuptools = "*"
isort = "*"

[scripts]
test = "coverage run --source \"./src\" -m unittest discover -s ./tests -p test_*.py"
report = "coverage html"
main = "python ./src/main.py"
debug = "python -m pdb ./src/main.py"

[requires]
python_version = "3.7"
