[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"

[packages]
# Assignments-1
pypdf2 = "*"
pdfminer = "*"
regex = "*"
# Assignments-2
wordcloud = "*"
seaborn = "*"
# Project
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
imbalanced-learn= "*"
spacy = "*"
gensim = "*"
nltk = "*"
fasttext = "*"
# Infrastructure
pre-commit = "*"
jupyter = "*"
setuptools = "*"

[scripts]
test = "coverage run --source \"./src\" -m unittest discover -s ./tests -p test_*.py"
report = "coverage html"
main = "python ./src/main.py"
debug = "python -m pdb ./src/main.py"

[requires]
python_version = "3.7"
